* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
html {
    font-family: "Lucida Sans", sans-serif;
}
header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
    background-image: url(../img/menu1.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

footer {
    background-color: #0099cc;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
.a1, .a2, .a3{
    width: 30%;
    margin: 5px;
    padding: 5px;
    color: red;
    float: left;
    border: 1px solid #000;
}
.a1{
    background-color: white;
}
.clear{
    clear: both;
}

@media screen and (max-width: 320px){   /*максимальная ширина экрана гаджета - до 320*/
.a1, .a2, .a3{
    width: 100%;
    float: none;
    margin: 0;
    padding: 0;
}
    
}
@media screen and (min-width: 321px) and (max-width: 768px) {  /*ширина от 321 до 768*/

    
    
}
@media screen and (min-width: 769px) and (max-width: 960px)  {

    
}
@media screen and (min-width: 961px) { /*ширина более 960*/
    
}






@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}